*{
    padding:0;
    margin:0;
}

body{
    width: 100%
    height: auto;
    overflow: hidden:
}

.content-wrapper{
    width: 80%;
    margin: 4% 10% 5% 10%;
}

.content-wrapper img{
    width
}

.text-wrapper{
    width: 100%;
    position: relative;
    margin-top: 40%;
}

.text-wrapper h1{
    text-align: center;
}
<!--Start with the doc type tag which will tell the browser what type of doc and version of HTML-->
<!DOCTYPE html>
<!--Start with the doc type tag and this will hold all of our page contents. -->
<html>
    <!--The head tag holds usually non display items. -->
    <head>
        <meta charset="utf-8">
        <title>UAT Mission Control</title>
            <!--Me copy and pasting cool font-->
        <link rel="stylesheet" href="css/text_over_image.css">   
        <link href="https://fonts.googleapis.com/css2?family=Lobster" rel="stylesheet">

    </head>
        <!--The body tag holds all of the content that wil be displayed on the page. -->
    <body>
            <!--For my image/ remember to put in the same folder as index to use.-->
        <div class="content-wrapper">
            <img src="space.png">
            <div class="text-wrapper">
                <h1>UAT Control Panell</h1>
            </div>
        </div>
    </body>    
</html>